/* Resume styles */

/* Global font styles */
body {
  font-size: 16px; /* Base font size */
  line-height: 1.5;
}

/* Section header styles */
.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem; /* Increase font size for section headers */
    letter-spacing: -.05rem;
    margin: 0;
  }
}

/* Page header styles */
.page-header {
  padding: 1.5rem 0;

  .header-name {
    @include sans;
    font-size: 3rem; /* Increase font size for name/title */
    font-weight: 900;
    text-align: center;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 1rem 0 0;
  }

  /* Rest of the page header styles */
  /* ... */
}

/* Content section styles */
.content-section {
  margin: 0 0 2rem; /* Decreased margin between items */

  .resume-item {
    margin-bottom: 1.5rem; /* Decreased margin between subpoints */
  }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 .5rem; /* Decreased margin between item title and details */
    font-size: 1.125rem; /* Increase font size for item titles */
    letter-spacing: -.05rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 0.875rem; /* Decreased font size of item details */
    margin: 0 0 .5rem; /* Decreased margin between item details and subpoints */
    line-height: 1;

    &.award-title {
      font-size: .875rem; /* Decreased font size of award titles */
    }
  }

  .resume-item-copy {
    margin: .5rem 0 0; /* Decreased margin between item copy and subpoints */
  }
}

/* Footer styles */
.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1rem; /* Decreased top padding */
  text-align: center;
  margin-bottom: 2rem; /* Decreased margin between content section and footer */

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;

    > a {
      font-weight: 700;
      color: #333;
    }
  }
}

/* Print styles */
@media print {
  /* Adjusted print styles for better readability */
  .page-header {
    padding: 1rem 0 .2rem;

    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }

  .section-header {
    @include section_border_thin;
    margin-bottom: 1rem;
    h2 {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  .content-section {
    margin: 0 0 1rem;

    .resume-item {
      margin-bottom: 1rem;
    }

    .resume-item-title {
      font-size: 12.8px;
      line-height: .7em;
    }

    .resume-item-details {
      font-size: 11.2px;
      margin: 0 0 .75rem;
      line-height: .7em;
      font-style: italic;

      &.award-title {
        font-size: 11px;
      }
    }
  }
}

/* Rest of the code */

// ...
